
/* @import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
 */

h1{
  text-align: center;
  color: #79779B;
  margin: 1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 5px 5px 10px;
 
  
}